<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="js/ng-cordova.min.js"></script>
  <script src="cordova.js"></script>


  <!-- your app's js -->
  <script src="js/app.js"></script>

</head>
<body ng-app="starter" ng-controller="currentLocationWeather">
<ion-pane>
  <ion-header-bar class="bar-dark">
    <button class="button button-small button-dark icon-left ion-chevron-left">Back</button>
    <h1 class="title">Weather</h1>
  </ion-header-bar>
  <ion-content>
    <!--Input search city -->
    <form name="weatherForm">
      <div class="list item item-input-inset">
        <label class="item item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input list="mylist" ng-model="buscar.ciudad" type="text" placeholder="Ciudad">
        </label>
        <datalist id="mylist">
          <option value="Bogota"></option>
          <option value="Medellin"></option>
          <option value="Cali"></option>
          <option value="Cucuta"></option>
          <option value="Bucaramanga"></option>
          <option value="Barranquilla"></option>
          <option value="Cartagena"></option>
        </datalist>
        <button ng-click="changeCity(buscar)" class="button button-dark button-small">
          Buscar
        </button>

        <!--Response of the api open weather  -->
      </div>
    </form>
    <div>
      <div class="item item-divider">
        <h2 class="text-center"><b>Información del Clima</b></h2>
      </div>
      <ul class="list">
        <li class="item">
          <h2>Ciudad actual: {{weather.name}}</h2>
        </li>
        <li class="item">
          <h2>Temperatura: {{weather.main.temp-273.15| number:2}} °C</h2>
        </li>
        <li class="item">
          <h2>Humedad: {{weather.main.humidity}} %</h2>
        </li>
        <li class="item">
          <h2>Description: {{weather.weather[0].description}}</h2>
        </li>
      </ul>
    </div>

  </ion-content>
</ion-pane>
</body>
</html>
