<!DOCTYPE html>
<html>
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="initial-scale=1, maximum-scale=1, user-scalable=no, width=device-width">
  <title></title>

  <link rel="manifest" href="manifest.json">

  <!-- un-comment this code to enable service worker
  <script>
    if ('serviceWorker' in navigator) {
      navigator.serviceWorker.register('service-worker.js')
        .then(() => console.log('service worker installed'))
        .catch(err => console.log('Error', err));
    }
  </script>-->

  <link href="lib/ionic/css/ionic.css" rel="stylesheet">
  <link href="css/style.css" rel="stylesheet">

  <!-- IF using Sass (run gulp sass first), then uncomment below and remove the CSS includes above
  <link href="css/ionic.app.css" rel="stylesheet">
  -->

  <!-- ionic/angularjs js -->
  <script src="lib/ionic/js/ionic.bundle.js"></script>

  <!-- cordova script (this will be a 404 during development) -->
  <script src="cordova.js"></script>
  <script src="https://code.jquery.com/jquery-1.12.4.js"></script>
  <script src="https://code.jquery.com/ui/1.12.1/jquery-ui.js"></script>
  <link rel="stylesheet" href="//code.jquery.com/ui/1.12.1/themes/base/jquery-ui.css">
  <script src="https://ajax.googleapis.com/ajax/libs/angularjs/1.4.8/angular.min.js"></script>
  <!-- your app's js -->
  <script src="js/app.js"></script>
  <script>
    $( function() {
      var availableTags = [
        "Bogota",
        "Bucaramanga",
        "Medellin",
        "Cali",
        "Barranquilla",
        "Cartagena",
        "Cucuta"
      ];
      $( "#tags" ).autocomplete({
        source: availableTags
      });
    } );
  </script>
</head>
<body ng-app="starter" ng-controller="WeatherCtrl">
<ion-pane>
  <ion-header-bar class="bar-dark">
    <h1 class="title">Weather</h1>
  </ion-header-bar>
  <ion-content>
    <!--Input search city -->
    <div class="list">
      <div class="item item-input-inset">
        <label class="item item-input-wrapper">
          <i class="icon ion-search placeholder-icon"></i>
          <input id="tags" ng-model="buscarCiudad" type="text" placeholder="Ciudad">
        </label>
        <button ng-click='changeCity()' class="button button-dark button-small">
          Buscar
        </button>
      </div>
    </div>
    <!--Response of the api open weather  -->
    <div>
      <ul class="list">
        <li class="item">
          <h2>Ciudad actual: {{weath.name}}</h2>
        </li>
        <li class="item">
          <h2>Temperatura: {{weath.main.temp}}</h2>
        </li>
        <li class="item">
          <h2>Humedad: {{weath.main.humidity}}</h2>
        </li>
        <li class="item">
          <h2>Description: {{weath.weather}}</h2>
        </li>
      </ul>
    </div>
    <script src="//cdnjs.cloudflare.com/ajax/libs/angular.js/1.4.7/angular.js"></script>
  </ion-content>
</ion-pane>
</body>
</html>
